<ion-view title="Lot Details">
    <ion-content>
        <div class="list">
            <div class="item">
                <strong>Lot #&nbsp;</strong>{{lot.lot_no}}
            </div>
            <div class="item">
                <strong>Location&nbsp;</strong>{{lot.lot_location}}
            </div>
            <div class="item">
                <strong>Date&nbsp;</strong>{{lot.date_created}}
            </div>
            <div class="item">
                <strong>Category&nbsp;</strong>{{lot.category}}
            </div>
            <div class="item">
                <strong>Description&nbsp;</strong>{{lot.description}}
            </div>
            <div class="item">
                <strong>Requested Value&nbsp;</strong>${{lot.requested_value}}
            </div>
            <div class="item">
                <strong>Reserve Value&nbsp;</strong>${{lot.reserve}}
            </div>
            <div class="item">
                <strong>Assigned Value&nbsp;</strong>${{lot.assigned_value}}
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </ion-content>
</ion-view>
