<ion-header-bar class="bar-positive">
    <h4 class="">Status
        <span ng-bind="syncstatus"></span>
    </h4>
    <h1 class="title">About</h1>
    <button class="button button-icon" ng-click="toggleOnline()">
        <i class="icon" ng-class="{'ion-connection-bars' : online, 'ion-alert-circled' : !online}"></i>
    </button>
</ion-header-bar>
<ion-view hide-nav-bar="true">
    <ion-content class="has-header padding">
        <div style="margin-top: 5px;">&nbsp;</div>
        <p>
            This app demonstrates how Gavelmate will scan lot numbers.
        </p>
        <p>
            To scan, click the scan button and point your phone camera at the barcode. It will automatically detect it and display the information.
        </p>
    </ion-content>
</ion-view>
