<ion-view title="Vehicle Lot Details">
    <ion-content>
        <div class="list">
            <div class="item">
                <strong>Lot #&nbsp;</strong>{{vehiclelot.lot_no}}
            </div>
            <div class="item">
                <strong>Location&nbsp;</strong>{{vehiclelot.lot_location}}
            </div>
            <div class="item">
                <strong>Date&nbsp;</strong>{{vehiclelot.date_created}}
            </div>
            <div class="item">
                <strong>Make / Model &nbsp;</strong>{{vehiclelot.make_model}}
            </div>
            <div class="item">
                <strong>Description&nbsp;</strong>{{vehiclelot.description}}
            </div>
            <div class="item">
                <strong>Requested Value&nbsp;</strong>${{vehiclelot.requested_value}}
            </div>
            <div class="item">
                <strong>Reserve Value&nbsp;</strong>${{vehiclelot.reserve}}
            </div>
            <div class="item">
                <strong>Assigned Value&nbsp;</strong>${{vehiclelot.assigned_value}}
            </div>
        </div>
    </ion-content>
</ion-view>
